.App {
  text-align: center;
  background-color: #c6ecc6;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  height: 100%;
  width: 100%
}
#root {
  width: 100%
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HUD {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 200px;
  height: 100%;
  background-color: #00b33c;
  margin-top: 0px;
  padding-bottom: 100%
}

.movement-buttons, .extra-buttons {
  width: 100%
}

.movement-buttons button{
  width: 90px;
  margin: 2px;
  background-color: #f2e6d9;
  border: 1px solid black
}

.extra-buttons {
  margin-top: 20px
}

.extra-buttons button {
  margin: 2px;
  background-color: #f2e6d9;
  border: 1px solid black
}

.movement-buttons .n {
  margin-left: 50px;
  margin-right: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
